body {
    font-family: 'Roboto', sans-serif;
    background-color: #AACE9B;
    margin:0px;
    box-sizing: border-box;
    width: 1462px;
    height: 6144px;
    box-sizing: border-box;
}
.main-header{
    display:block;
    height: 108px;
}
section{
    background-color: #fff;
    width: 1211px;
    height: 890px;
}
header h1 {
    font-size: 75px;
    font-weight: bold;
    color: #373867;
    text-align: right;
    margin: 0px;
    padding: 0px;
}
header h2{
    font-size: 25px;
    color: #69A362;
    font-weight: bold;
    text-align: right;
    margin: 3px 27px 0px 0px;
    padding: 0px;
}
nav{
    width:204px;
    height: 6022px;
    float: left;
    background-color:#373867;
    background-repeat: no-repeat;
    margin-left: 43px;
    padding: 0px;
    background-position: right top;
}
section{
    width:83%;
    float: right;
}
nav ul{
list-style-type: none;
margin-top:50px;
padding:0;
}
nav ul a{
    display: block;
    width:140px;
    margin:10px 10px 0px 20px;
    text-decoration: none;
    color: #373867;
    background-color:#AACE9B;
    font-size: 20px;
    border-radius:5%;
    padding: 15px;
    text-align: center;
    font-style: bold;
}
.bordered-top{
    margin-left: 51px;
    margin-top: 50px;
    position: relative;
    width: 75%;
    border-top:2px solid #69A362;
}
.bordered-bottom{
    margin-left: 51px;
    margin-top: 50px;
    position: relative;
    width: 75%;
    border-top:2px solid #69A362;
}
.contact-nav {
    margin:75px 10px 0px 20px;
    color: #fff;
    display: block;
    text-align: left;
    font-size: 20px;
}
.icon{
    margin-left: 100px;
    margin-top: 35px;
    display: block;
}
.paragraph-nav{
    margin:0px 10px 100px 20px;
    color: #fff;
    display: block;
    text-align: left;
    font-size: 15px;
}
.icon-desc-1{
    margin:0px 10px 0px 20px;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 12px;
}
.icon-desc-2{
    margin:0px 10px 0px 20px;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 12px;
    font-style: bold;
}
.description-main h2{
font-size: 72px;
margin-top: 100px;
text-align: left;
color: #373867;
font-weight: bold;
}
.description-main h3{
font-size: 26px;
margin-top:25px;
color: #373867;
}
.description-main p{
    width: 484px;
    height: 339px;
    float: left;
    text-align: center;
    margin-top: 150px;
    font-size: 24px;
    color:#373867;
}
.description-main img{
    margin-top:100px;
}