.flex-container-description-main{
    display: flex;
    flex-direction: column;
}
.flex-container-2items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-container-features-main{
    display: flex;
    flex-direction: column;
}
.flex-container-description-main p, h2, h3 {
    color: #373867;
}
.flex-container-mainreason{
    display: flex;
    flex-direction: column;
}
.flex-container-information-main{
    display: flex;
    flex-direction: column;
}
.flex-container-history-main{
    display: flex;
    flex-direction: column;
}
.flex-container-list-main{
    display: flex;
    flex-direction: column;
}
.flex-container-list-1{
    display: flex;
    flex-direction: column;
}
.flex-container-description-main{
    align-items: center;
}
.flex-container-description-main h2{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 10px;
    margin-top: 100px;
}
.flex-container-description-main h3{
    font-size: 20px;
    font-size: bold;
    margin-bottom:10px;
}
.flex-container-description-main p{
    font-size: 15px;
    text-align: center;
    margin: 10px 10px;
    width: 90%;
}
.flex-container-description-main img{
    width: 50%;
}
.bordered-top-main{
    border: 2px solid #AACE9B;
    width: 75%;
    height: 0px;
}
.flex-container-features-main{
    align-items: center;
    margin-bottom: 10px;
}
.flex-container-features-2items{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}
.flex-container-features-main h2{
    font-size: 25px;
    margin: 10px 10px;
}
.flex-container-features-main h3{
    font-size: 18px;
    font-style: bold;
    margin-top: 15px;
    margin-bottom:5px;
}
.flex-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.flex-container-features-main img{
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}
.flex-container-features-main .p-odd{
    font-size:15px;
    width: 70%;
    text-align: center;
    color:#373867;
    line-height: 12px;
    margin-bottom: 10px;
}
.flex-container-features-main .p-even{
    font-size:15px;
    width: 70%;
    text-align: center;
    color:#373867;
    line-height: 12px;
    margin-bottom: 10px;
}
.div-mainreason-container h3{
    font-size: 18px;
    font-weight: bold;
    color: #AACE9B;
    text-align: center;
    margin-top: 25px;
}
.div-mainreason-container{
    border: 2px solid #AACE9B;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 45%;
    padding:10px;
}
.div-mainreason-container p{
    color: #373867;
    text-align: center;
    font-size: 10px;
    font-style: bold;
    margin-bottom: 25px;
    margin-top: 10px;
}
.flex-container-mainreason{
    align-items: center;
}
.flex-container-information-main{
    align-items: center;
}
.flex-container-information-main h2{
    font-size: 25px;
    color: #373867;
}
.label-1{
    font-size: 9px;
    font-weight: bold;
    display: block;
    color: #636363;
}
.label-2{
    font-size: 7px;
    font-weight: bold;
    color: #636363;
}
form{
    width: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-form{
    margin: 10px 10px;
    width: 75%;
}
textarea{
    width: 100%;
}
.input-form{
    width: 100%;
}
.buttom{
    background-color: #AACE9B;
    margin:10px;
    color:#fff;
    font-size: 15px;
    border-radius: 5px;
}
.buttom:hover{
    background-color: #373867;
}
.flex-container-history-main{
    align-items: center;
    justify-content: center;
}
.flex-container-history-main h2{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 15px;
}
.paragraph-history-1{
    font-size: 15px;
    font-size: bold;
    text-align: center;
    margin: 10px 10px;
    color: #373867;
    width: 90%;

}
.paragraph-history-2{
    font-size: 10px;
    text-align: center;
    margin: 10px 10px;
    color: #373867;
    width:90%;
}
.flex-container-list-1{
    align-items: center;
}
.flex-container-list-1 h2{
    font-size: 24px;
    font-weight: bold;
    color: #AACE9B;
    margin: 10px 10px;
}
.flex-container-list-1 ul{
    list-style-type: circle;
}
.flex-container-list-1 li{
    font-size: 14px;
    color: #373867;
}
.flex-container-list-1 a{
    text-decoration: none;
    color: #373867;
}
.flex-container-mainreason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container-mainreason-2items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-mainreason-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .flex-container-description-main h2{
        font-size: 72px;
        margin-top: 150px;
    }
    .flex-container-description-main h3{
        font-size: 36px;
    }
    .flex-container-description-main p{
        font-size: 24px;
        text-align: center;
        margin: 10px 10px;
    }
    .flex-container-description-main img{
        width: 50%;
    }
    .flex-container-2items{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .flex-container-features-main h2{
        font-size: 48px;
    }
    .flex-container-features-main h3{
        font-size: 30px;
    }
    .flex-container-features-main .p-odd{
        font-size:14px;
        width: 55%;
        text-align: center;
        line-height: 12px;
        margin-bottom: 10px;
    }
    .flex-container-features-main .p-even{
        font-size:14px;
        width: 55%;
        text-align: center;
        line-height: 12px;
        margin-bottom: 10px;
    }
    .flex-container-features-2items{
        flex-direction: row;
        width: 100%;
    }
    .flex-container-features-2items img{
        width: 15%;
        margin-bottom: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .flex-container-mainreason{
        justify-content: center;
        align-items: center;
    }
    .div-mainreason-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }
    .flex-container-mainreason-2items{
        flex-direction: row;
        margin:25px;
        justify-content: center;
        align-items: center;
    }
    .flex-container-information-main h2{
        font-size: 48px;
        margin-left: 25px;
    }
    form{
        width: 95%;
    }
    .label-1{
        font-size: 18px;
        margin-left: 15px;
    }
    .label-2{
        font-size: 18px;
    }
    .flex-container-information-main{
        font-size: 48px;
        align-items: flex-start;
    }
    .check-1{
        margin-left:15px;
    }
    .input-form, .check-1, .textarea{
        margin-left:15px;
    }
    .input-form, .textarea{
        width: 95%;
    }
    .flex-container-history-main h2{
    font-size: 64px;
    }
    .paragraph-history-1{
        font-size: 24px;
    }
    .paragraph-history-2{
        font-size: 18px;
    }
    .flex-container-list-main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .flex-container-list-main h2{
        font-size: 36px;
    }
    .flex-container-list-main a{
        font-size:24px;
    }
}
@media only screen and (min-width: 1024px){
    section{
        width: 70%;
        margin-left:20%;
    }
}